# Nuke API token
NUKE_API_TOKEN=""
# FFScouter API
FFSCOUTER_API_KEY=""
# Minimum BS to consider for autorevive
MIN_BATTLE_STATS=
# If using a Bot token, you MUST include the "Bot " prefix (e.g., DISCORD_TOKEN="Bot MTA...")
DISCORD_TOKEN=""
# You can add multiple channels separated by commas (e.g., "ID1,ID2,ID3")
CHANNEL_IDS=""
# Rate limit number of tabs that can open in a minute
RATE_LIMIT=
# Max revives a day
DAILY_QUOTA=
# Min Revive Chance
MIN_CHANCE=