# If using a Bot token, you MUST include the "Bot " prefix (e.g., DISCORD_TOKEN="Bot MTA...")
DISCORD_TOKEN=""
# Nuke API token
NUKE_API_TOKEN=""
# You can add multiple channels separated by commas (e.g., "ID1,ID2,ID3")
CHANNEL_IDS=""
# Rate limit number of tabs that can open in a minute
RATE_LIMIT=10
# Minimum Age of player to get autorevived
MIN_AGE_DAYS=200
# Max revives a day
DAILY_QUOTA=8
# Min Revive Chance
MIN_CHANCE=50